*-ext.properties
.sass-cache/
.sass_cache_*.css
_sass_cache_*.css

/*/*/bin
/*/*/classes
/*/*/tmp

/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib/portal-compat-client.jar

/build.*.properties
/dist
webs/cloud-common
webs/cloud-center-web/docroot/WEB-INF/lib/commons-logging.jar
webs/cloud-center-web/docroot/WEB-INF/lib/commons-pool.jar
webs/cloud-center-web/docroot/WEB-INF/lib/jabsorb.jar
webs/cloud-center-web/docroot/WEB-INF/lib/json-java.jar
webs/cloud-center-web/docroot/WEB-INF/lib/log4j.jar
webs/cloud-center-web/docroot/WEB-INF/lib/slf4j-api.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-aop.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-asm.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-beans.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-context.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-core.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-expression.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-jms.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-transaction.jar
webs/cloud-center-web/docroot/WEB-INF/lib/spring-web.jar
webs/cloud-center-web/docroot/WEB-INF/lib/util-bridges.jar
webs/cloud-center-web/docroot/WEB-INF/lib/util-java.jar
webs/cloud-center-web/docroot/WEB-INF/lib/util-taglib.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/commons-logging.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/commons-pool.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/jabsorb.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/json-java.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/log4j.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/slf4j-api.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-aop.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-asm.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-beans.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-context.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-core.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-expression.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-jms.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-transaction.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/spring-web.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/util-bridges.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/util-java.jar
webs/cloud-gateway-web/docroot/WEB-INF/lib/util-taglib.jar
out
